:root
 {
   --white-color: #FFFFFF;

   --color-accent: #2196f3;

   --dark-bg-color: #2F303A;

   --main-text-color: #212121;

   --second-text-color:#757575;

   --light-bg-color: #F5F4FA;
   } 
    /*ШРИВТИ*/
   body {
     font-family: 'roboto' , sans-serif;
  }

     .title {
       font-family: 'raleway', sans-serif;
     }

    /*container*/
.container{
  width: 1170px;
  padding: o 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
}



/*HEADER*/
#header-container{
  display: flex;
}

.nav-list{
  display: flex;
  flex-direction: row;
}

.header-contacts{
  display: flex;
  flex-direction: row;
}

/*hero*/
.hero{
  margin:32px 0px 0px 0px ;
}

.hero-title{
  padding: 200px 0px 0px 0px ;
}

.hero-button{
  padding: 0px 0px 210px 0px;
}

/*features*/
.features-list{
  margin: 94px 0px 0px 0px;
}

/*work*/
.work-title{
  margin: 118px 0px 0px 0px;
}

/*team*/
.team-title{
  margin: 188px 0px 0px 0px;
}

/*footer*/
.footer-logo{
  margin: 154px 0px 0px 0px;
}






/*portfolio*/