:root
 {
    --main-bg-text-color: #FFFFFF;

    --accent-color: #2F303A;

    --button-color: #2196F3;

    --main-text-color: #212121;

   --second-text-color:#757575;

   --second-bg-color:#F5F4FA;
   } 