:root
 {
   --white-color: #FFFFFF;

   --color-accent: #2196f3;

   --link-color: #757575;

   --dark-bg-color: #2F303A;

   --main-text-color: #212121;


   --light-bg-color: #F5F4FA;
   } 
    /*ШРИВТИ*/
   body {
     font-family: 'roboto' , sans-serif;
  }

     .title {
       font-family: 'raleway', sans-serif;
     }

    /*container*/
.container{
  width: 1170px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
}



/*HEADER*/

.header-container{
  display: flex;
  padding-top: 24px;
    padding-bottom: 25px;
}
.header-logo{
  margin-right: 93px;
  color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.4;
}

.logo-span{
  color: var(--color-accent);
}


.nav-list{
  display: flex;
  gap: 50px;
}

.nav-link{
  font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.28px;
    color: var(--main-text-color);
}

.nav-link:hover{
  color: var(--color-accent);
}

.header-contacts{
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.contacts-link{
  font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.28px;
    color: var(--link-color);
}

.contacts-link:hover{
  color: var(--color-accent);
}

/*hero*/
.hero{
  padding: 200px 0;
    background-image: url(../pictures/hero-bg.png);
  background-color: rgba(47, 48, 58, 0.40);
}

.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title{
  text-align: center;
  margin-bottom: 30px;
  width: 696px;
font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 2.64px;
  color: var(--white-color);
}

.hero-button{
    padding: 10px 32px;
  color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.96px;
  background-color: var(--color-accent);
  color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*features*/
.features{
  padding: 94px 0;
}

.features-title{
  position: absolute;
    visibility: hidden;
}



.features-list{
display: flex;
gap: 30px;
}

.features-subtitle{
  margin-bottom: 10px;
  color: var(--main-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.42px;
}

.features-text{
  color: var(--link-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}

/*work*/
.work{
  padding-bottom: 94px;
}

.work-list{
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  gap: 30px;
}

.work-title{
  margin-bottom: 50px;
  color: var(--main-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.08px;
}

/*team*/
.team{
padding: 94px 0;
background-color: var(--light-bg-color);
}

.team-title{
  margin-bottom: 50px;
  color: var(--main-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.08px;
}

.team-list{
  display: flex;
  gap: 30px;
}

.team-item{
  border-radius: 0px 0px 4px 4px;
}

.team-name{
  color: var(--main-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
}

.team-desc{
  color: var(--link-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.48px;
}


/*footer*/
.footer{
padding: 60px 0;
background-color: var(--dark-bg-color);
}

.footer-logo{
  margin-bottom: 20px;
color: #FFF;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.78px;
}




.address-link{
  color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}

.gmail{
  color: rgba(255, 255, 255, 0.60);
}

.tel{
  color: rgba(255, 255, 255, 0.60);
}






/*portfolio*/

/*header*/
.header-title{
margin: 0 93px 0 0;
}


.nav-list {
  display: flex;
  gap: 50px;
}

.header-contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

/*section portfolio*/

.portfolio{
  padding: 93px 0;
}

.portfolio-btns{
  margin-left: 512px;
  display: flex;
  gap: 8px;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item{
  flex-basis: calc((100% - 60px) / 3);
}